{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRANSPORTS TCHAD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<!-- Favicons -->
<link href="{% static 'img/icone1-removebg-preview.png' %}" rel="icon">
<link href="{% static 'img/aicone2-removebg-preview.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/ " class="logo d-flex align-items-center">
        <h1>TCHAD</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/ ">Home</a></li>
          <li><a href="service" class="active">Services</a></li>
          <li><a href="reduction">Reduction</a></li>         
          <li><a href="contact">Contact</a></li>
          <li><a href="propos">A propos</a></li>
          <li><a class="get-a-quote" href="login">Reservation</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Nos Agence Partenaire</h2>              
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="login">Home</a></li>
            <li>Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="{% static 'img/SUD VOYAGE.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>
              SUD VOYAGE
            </h3>
            <p class="fst-italic">
              La gestion de la commande et de la livraison peut être facilitée pour les utilisateurs en mettant en place les éléments suivants :
            </p>
            <ul>
              <li><i class="bi bi-check"></i>Une interface utilisateur claire et intuitive qui permet aux utilisateurs de passer des commandes et de suivre leurs livraisons facilement.</li>
              <li><i class="bi bi-check"></i>Des notifications en temps réel qui informent les utilisateurs de l'état de leurs commandes et livraisons.</li>
              <li><i class="bi bi-check"></i>Un service client fiable et réactif qui peut répondre aux questions et résoudre les problèmes des utilisateurs.</li>
            </ul>
            <a href="get-a-quote.html" class="readmore stretched-link"><span>Charg...</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- Features Item -->

        </div><!-- Features Item -->

      </div>
    </section><!-- End Features Section -->

    <section id="features" class="features">
        <div class="container">
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-5">
              <img src="{% static 'img/ABOU ISLAM.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h3>
                ABOU ISLAM
              </h3>
              <p class="fst-italic">
                La gestion de la commande et de la livraison peut être facilitée pour les utilisateurs en mettant en place les éléments suivants :
              </p>
              <ul>
                <li><i class="bi bi-check"></i>Une interface utilisateur claire et intuitive qui permet aux utilisateurs de passer des commandes et de suivre leurs livraisons facilement.</li>
                <li><i class="bi bi-check"></i>Des notifications en temps réel qui informent les utilisateurs de l'état de leurs commandes et livraisons.</li>
                <li><i class="bi bi-check"></i>Un service client fiable et réactif qui peut répondre aux questions et résoudre les problèmes des utilisateurs.</li>
              </ul>
              <a href="get-a-quote.html" class="readmore stretched-link"><span>Charg...</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- Features Item -->
  
          </div><!-- Features Item -->
  
        </div>
      </section><!-- End Features Section -->

      <section id="features" class="features">
        <div class="container">
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-5">
              <img src="{% static 'img/ABOU HAMAMA.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h3>
                ABOU HAMAMA
              </h3>
              <p class="fst-italic">
                Agence Abou Hamama (Région du Logone Oriental, Tchad) est une gare routière. Agence Abou Hamama est située à proximité de la mosquée Al-Masdjid al-Markazi et de la mairie Hôtel de Ville.
              </p>
              <ul>
                <li><i class="bi bi-check"></i>Une interface utilisateur claire et intuitive qui permet aux utilisateurs de passer des commandes et de suivre leurs livraisons facilement.</li>
                <li><i class="bi bi-check"></i>Des notifications en temps réel qui informent les utilisateurs de l'état de leurs commandes et livraisons.</li>
                <li><i class="bi bi-check"></i>Un service client fiable et réactif qui peut répondre aux questions et résoudre les problèmes des utilisateurs.</li>
              </ul>
              <a href="login" class="readmore stretched-link"><span>Charg...</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- Features Item -->
  
          </div><!-- Features Item -->
  
        </div>
      </section><!-- End Features Section -->

      <section id="features" class="features">
        <div class="container">
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-5">
              <img src="{% static 'img/ABROUM VOYAGE.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h3>
                ABROUM VOYAGE
              </h3>
              <p class="fst-italic">
                La gestion de la commande et de la livraison peut être facilitée pour les utilisateurs en mettant en place les éléments suivants :
              </p>
              <ul>
                <li><i class="bi bi-check"></i>Une interface utilisateur claire et intuitive qui permet aux utilisateurs de passer des commandes et de suivre leurs livraisons facilement.</li>
                <li><i class="bi bi-check"></i>Des notifications en temps réel qui informent les utilisateurs de l'état de leurs commandes et livraisons.</li>
                <li><i class="bi bi-check"></i>Un service client fiable et réactif qui peut répondre aux questions et résoudre les problèmes des utilisateurs.</li>
              </ul>
              <a href="login" class="readmore stretched-link"><span>Charg...</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- Features Item -->
  
          </div><!-- Features Item -->
  
        </div>
      </section><!-- End Features Section -->

      <section id="features" class="features">
        <div class="container">
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-5">
              <img src="{% static 'img/STTL.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h3>
                STTL
              </h3>
              <p class="fst-italic">
                STTL (Sarh, Région du Moyen-Chari) est une agence de voyages. STTL est située à proximité du centre des arts Centre Culturel de Sarh et du centre communautaire Bornou.
              </p>
              <ul>
                <li><i class="bi bi-check"></i>Une interface utilisateur claire et intuitive qui permet aux utilisateurs de passer des commandes et de suivre leurs livraisons facilement.</li>
                <li><i class="bi bi-check"></i>Des notifications en temps réel qui informent les utilisateurs de l'état de leurs commandes et livraisons.</li>
                <li><i class="bi bi-check"></i>Un service client fiable et réactif qui peut répondre aux questions et résoudre les problèmes des utilisateurs.</li>
              </ul>
              <a href="login" class="readmore stretched-link"><span>Charg...</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- Features Item -->
  
          </div><!-- Features Item -->
  
        </div>
      </section><!-- End Features Section -->

    
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="/" class="logo d-flex align-items-center">
          <span>TCHAD</span>
        </a>
        <p>Notre application est conçue pour les agences du Tchad.</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact</h4>
        <p>
          TCHADTRANSPORT <br>
          FARCHA,NDJAMENA,TCHAD<br>
          APPLICATION <br><br>
          <strong>Telephone:</strong> +235 99000000<br>
          <strong>Email:</strong> infotransport@gmail.com<br>
        </p>

      </div>

    </div>
  </div>


</footer><!-- End Footer -->
<!-- End Footer -->

 
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>