{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRANSPORTS TCHAD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<!-- Favicons -->
<link href="{% static 'img/icone1-removebg-preview.png' %}" rel="icon">
<link href="{% static 'img/aicone2-removebg-preview.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %} " rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href=" / " class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="img/logo.png" alt=""> -->
        <h1>TCHAD</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href=" / ">Home</a></li>
          <li><a href="service">Services</a></li>
          <li><a href="reduction">Reduction</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="propos">A propos</a></li>
          <li><a class="get-a-quote" href="login">Reservation</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Service Details</h2>
              <p>
                Nos services sur la plateforme vous permettent de voir comment fonctionnent les agences de transport. C'est-à-dire comment nous chargeons vos bagages, les moyens de transport mis à votre disposition (bus), et tous les éléments qui contribuent à votre voyage.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="login">Home</a></li>
            <li>Service Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            <h4>
              Aperçu Général
            </h4>
            <p>
              Notre plateforme de transport en ligne offre un service complet de réservation, transport et stockage de bagages. Vous pouvez réserver votre trajet en quelques clics, et nous nous occupons du reste. Nous chargeons vos bagages en toute sécurité et les transportons jusqu'à votre destination. Nous disposons d'un système de stockage sécurisé pour les bagages qui ne peuvent pas être transportés immédiatement.
            </p>
          </div>

          <div class="col-lg-8">
            <img src="{% static 'img/service-details.jpg' %}" alt="" class="img-fluid services-img">
            <h3>
              Trois points sont essentiels pour comprendre le système :            
            </h3>
            <p>
              Les trois éléments indispensables d'un système de transport moderne qui permettent aux clients de voyager en toute tranquillité, sans avoir à se soucier de leur trajet ou de leurs bagages.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>La réservation</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Le transport </span></li>
              <li><i class="bi bi-check-circle"></i> <span>Le stockage</span></li>
            </ul>
            <p>
              Le transport est l'étape la plus importante du système. Il s'agit de transporter les clients et leurs bagages vers leur destination en toute sécurité et en temps voulu.
            </p>
            <p>
              Le transport est l'étape la plus importante. Il s'agit de transporter les clients et leurs bagages vers leur destination en toute sécurité et en temps voulu.
            </p>
            <p>
              Le stockage est une option utile pour les clients qui ne peuvent pas transporter leurs bagages immédiatement. Il permet de ranger les bagages en toute sécurité jusqu'à ce que le client soit prêt à les récupérer.
            </p>
            <p>
              En conclusion, la réservation, le transport et le stockage sont trois éléments essentiels qui contribuent à améliorer l'efficacité et la satisfaction des clients d'un système de transport.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Service Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>TCHAD</span>
          </a>
          <p>Notre application est conçue pour les agences du Tchad.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact</h4>
          <p>
            TCHADTRANSPORT <br>
            FARCHA,NDJAMENA,TCHAD<br>
            APPLICATION <br><br>
            <strong>Telephone:</strong> +235 99000000<br>
            <strong>Email:</strong> infotransport@gmail.com<br>
          </p>

        </div>

      </div>
    </div>


  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>