{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>TRANSPORT TCHAD</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>Remerciements</h1>
  </header>
  <main>
    <p>
      Merci d'avoir choisi notre mode de paiement bancaire.
    </p>
    <p>
      Pour effectuer votre versement, veuillez suivre les informations suivantes :
    </p>
    <ul>
      <li>
        Nom du compte : XXXXXXX XXXXXXXXX
      </li>
      <li>
        Numéro de compte : XXXXXXXXXXXXXX
      </li>
    </ul>
    <p>
      Une fois votre versement effectué, veuillez vous présenter avec le reçu à l'adresse suivante :
    </p>
    <p>
      AGENCE DE RESERVATION CHOISI
    </p>
    <p>
      Vous pourrez alors bénéficier du service.
    </p>
    <p>
      Merci pour votre confiance.
    </p>
    <button type="button"><a href="/">Retour à l'accueil</a></button>
  </main>
  <footer>
    <p>
        TCHAD TRANSPORT 
    </p>
  </footer>
</body>
</html>
