
{% extends 'gestionnaire/layout.html' %}

{% block content %}
    <style>
    h1
    {
        color: green;
        border: 3px double green;
        box-shadow: 3px 3px 0px;
        text-align: center;

    }
    </style>
    <h1><marquee alternative>BIENVENUE AU SYSTEME DE GESTION ET NUMERISATION DE TRANSPORT AU TCHADIEN</marquee></h1>

    <a class="nav-link" href="singinD">Directeur</a>
    <a class="nav-link" href="singin">Superviseur</a>
    <a class="nav-link" href="singinS">Controleurs</a>
{% endblock %}