{% extends 'gestionnaire/layout.html' %}

{% block content %}
	<h1 align="center" style="color:green;">DONNEE BANCAIRE</h1>
	<style>
	h1
	{
		color: peru;
	}
	.couleur
	{
		background-color: green;
	}
	</style>
	<div class="col-12 d-flex justify-content-end mb-2"> 
		<a class="btn btn-primary sm " href="{% url 'add_recuBan' %}"> NOUVELLE BANQUE</a>
	</div>
		<table class="table table-bordered table-striped table-hover">
			<a class="btn btn-primary sm " href=" homeS.html "> RETOUR </a>
		  <thead class="couleur">
			<tr>
				<th>nom</th>
				<th>email</th>
				<th>somme</th>
				<th>agences</th>
				<th>service</th>
				<th>destination</th>
              	<th>banque</th>
			  <th width="250px">option</th>
			</tr>
		  </thead>
		  <tbody>
			{% if banque %} 
			{% for banque  in banque %} 
			<tr class="success">
				<td>{{banque.nom}}</td>
				<td>{{banque.email}}</td>
				<td>{{banque.somme}}</td>
				<td>{{banque.agences}}</td>
				<td>{{banque.service}}</td>
				<td>{{banque.destination}}</td>
              <td>{{banque.banque}}</td>
			 <td>
				 <div class="col-12 d-flex justify-content-end mb-2">
					<a class="btn btn-outline-warning sm"  href="{% url 'update_recuBan' banque.id %}">Modifier</a>
				 	<a class="btn btn-outline-info sm" href="{% url 'show_banque' banque.id %}">Details</a>
				 	<a class="btn btn-outline-danger sm" href="{% url 'delete_recuBan' banque.id %}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette DONNEE DE PAYEMENT Banque ?')">Supprimer</a>

				</div>
		
			 </td>
			</tr>
			{% endfor %}
			{% endif %}

		  </tbody>
		</table>

{% endblock %}
