{% extends 'gestionnaire/layout.html' %}

{% block content %}
	<h1 align="center" style="color:green;">DONNEE AGENCE</h1>
	<style>
	h1
	{
		color: peru;
	}
	.couleur
	{
		background-color: green;
	}
	</style>
	<div class="col-12 d-flex justify-content-end mb-2"> 
		<a class="btn btn-primary sm " href="{% url 'add_recuAg' %}"> NOUVEAU DONNEES DE L'AGENCE </a>
	</div>
		<table class="table table-bordered table-striped table-hover">
			<a class="btn btn-primary sm " href=" homeS.html "> RETOUR </a>
		  <thead class="couleur">
			<tr>
              <th>nom</th>
			  <th>email</th>
			  <th>agences</th>
			  <th>somme</th>
			  <th>service</th>
              <th>destination</th>
			  <th width="250px">option</th>
			</tr>
		  </thead>
		  <tbody>
			{% if agence %} 
			{% for agence  in agence %} 
			<tr class="success">
				<td>{{agence.nom}}</td>
				<td>{{agence.email}}</td>
				<td>{{agence.agences}}</td>
				<td>{{agence.somme}}</td>
				<td>{{agence.service}}</td>
				<td>{{agence.destination}}</td>
			 <td>
				 <a class="btn btn-outline-warning sm"  href="{% url 'update_recuAg' agence.id %}">Modifier</a>
				 <a class="btn btn-outline-danger sm" href="{% url 'delete_recuAg' agence.id %}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette DONNEE DE PAYEMENT Agence ?')">Supprimer</a>
			 </td>
			</tr>
			{% endfor %}
			{% endif %}

		  </tbody>
		</table>

{% endblock %}
