
{% extends 'gestionnaire/layout.html' %}
{% block content %}
    <h1><marquee > ESPACE CONTROLEUR CHOIX DE PAYEMENT </marquee></h1>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'recu_listBan' %}">PAYEMENT BANCAIRE</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'recu_list' %}">PAYEMENT TELEPHONIE</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'recu_listAg' %}">PAYEMENT PAR AGENCE</a>
    </li>

    <h2><a class="btn btn-primary sm " href=" home.html "> RETOUR </a></h2>

    
{% endblock %}